on property:sys.boot_completed=1
    chown system system /sys/class/devfreq/ffa30000.rogue-g6110/governor
    chown system system /sys/class/devfreq/ffa30000.rogue-g6110/min_freq
    chown system system /sys/class/devfreq/ffa30000.rogue-g6110/max_freq

on boot
    chown system system /sys/class/thermal/thermal_zone0/policy
    chown system system /sys/class/thermal/thermal_zone1/policy
    chown system system /sys/class/thermal/thermal_zone2/policy
