on early-init
    # boost cpu freq
    chmod  0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance

    # boost ddr freq
    write /sys/devices/platform/dmc/devfreq/dmc/system_status p

    # gpu devfreq
    chown root system /sys/class/devfreq/ffa30000.rogue-g6110/governor
    chmod 0664 /sys/class/devfreq/ffa30000.rogue-g6110/governor
    chown root system /sys/class/devfreq/ffa30000.rogue-g6110/available_frequencies
    chmod 0664 /sys/class/devfreq/ffa30000.rogue-g6110/available_frequencies
    chown root system /sys/class/devfreq/ffa30000.rogue-g6110/min_freq
    chmod 0664 /sys/class/devfreq/ffa30000.rogue-g6110/min_freq
    chown root system /sys/class/devfreq/ffa30000.rogue-g6110/max_freq
    chmod 0664 /sys/class/devfreq/ffa30000.rogue-g6110/max_freq

on property:ro.boot.storagemedia=emmc
   setprop ro.vendor.storagemedia emmc
on property:ro.boot.storagemedia=nand
   setprop ro.vendor.storagemedia nand

on property:sys.boot_completed=1
    # recover cpu freq
    chmod  0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

    # recover ddr freq
    write /sys/devices/platform/dmc/devfreq/dmc/system_status n
    chown system system /sys/devices/platform/ff580000.usb/driver/force_usb_mode

    write /sys/devices/platform/ff580000.usb/driver/force_usb_mode 0

on property:persist.vendor.fake_data_role=otg
    write /sys/devices/platform/ff580000.usb/driver/force_usb_mode 2
on property:persist.vendor.fake_data_role=host
    write /sys/devices/platform/ff580000.usb/driver/force_usb_mode 1

on init
    write /proc/sys/vm/swappiness 100
    write /sys/block/zram0/comp_algorithm lz4

    # Load persistent dm-verity state
    verity_load_state

    # update cpusets now that processors are up
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7
on early-boot
    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

on boot
    chown system system /sys/class/thermal/thermal_zone0/policy
    chown system system /sys/class/thermal/thermal_zone1/policy
    chown system system /sys/class/thermal/thermal_zone2/policy

    # update cpusets feature nodes for rk3368 tablet
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7

    # reduce schedul time to improve io performance
    write /sys/kernel/debug/sched_features NO_ENERGY_AWARE

# baseparameter
    chown system system /dev/block/mmcblk1p4
    chmod 0660 /dev/block/mmcblk1p4
    chown system system /dev/block/rknand_baseparameter
    chmod 0660 /dev/block/rknand_baseparameter

on init
    # Load persistent dm-verity state
    verity_load_state

    chown mediacodec system /sys/class/devfreq/dmc/system_status
    chmod 0666 /sys/class/devfreq/dmc/system_status
on late-fs
    # Start services for bootanim
    start hwcomposer-2-1
    start configstore-hal-1-0
    start gralloc-2-0
    start surfaceflinger
    start bootanim
